body {
  margin: 0;
  padding: 0;
}
#wrapper {
  background-image: url("image1a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#signinForm input,
#signupForm input {
  color: #ff105f !important;
  background-color: #00000012 !important ;
  background-clip: padding-box;
  border: 1px solid #8a8a8a00 !important;
  border-radius: 30px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: inset 2px 2px 4px #00000059 !important;
}
.login-wrapper .card {
  background: transparent;
  border: none;
}
.login-wrapper .card.form {
  border: none;
  box-shadow: -5px -5px 10px 0px #0000000f, 5px 5px 10px #00000017;
  border-radius: 30px;
}
.btns {
  border-radius: 30px;
  padding: 8px 3rem;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  color: rgb(61, 61, 61);
}

.btns:hover {
  background: linear-gradient(to right, #ff105f, #ffad06);
  outline: none;
}

.actived {
  background: linear-gradient(to right, #ff105f, #ffad06);
  box-shadow: inset -2px -2px 5px #0000, inset 2px 2px 5px #0a0a0a96;
  color: #fff;
  border: none;
}

.actived:hover {
  color: rgb(61, 61, 61);
}

.login-btn {
  background: linear-gradient(to right, #ff105f, #ffad06);
  box-shadow: -3px -3px 5px #fff, 2px 2px 5px #0a0a0a47;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 20px;
}

.form-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.form {
  position: relative;
}

.login-wrapper h4.card-title {
  font-size: 3rem;
  text-align: center;
  color: white;
}
.login-wrapper p.card-text {
  text-align: center;
  color: white;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .form-column {
    position: absolute;
    bottom: -90%;
    background: #ffffff;
  }
}
