<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="..\css\login.css" />
  </head>
  <body>
    <div id="content">
      <div id="wrapper">
        <div id="overlay">
          <div class="container">
            <div
              class="row login-wrapper"
              style="
                display: flex;
                align-items: center;
                background-color: rgba(220, 232, 201, 0.7);
              "
            >
              <div class="col-sm-12 col-md-6">
                <div class="card info mt-4">
                  <img class="card-img-top" src="" alt="" />
                  <div class="card-body">
                    <h4 class="card-title">Book Library</h4>
                    <p class="card-text">
                      Read and Review
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-6 form-column">
                <div class="card form mt-4">
                  <article class="card-body">
                    <p class="sign-up btns float-right btn btn-lg">
                      Register
                    </p>
                    <p
                      class="btns sign-in card-title mb-4 mt-1 btn btn-lg actived"
                    >
                      Sign in
                    </p>
                    {% with messages = get_flashed_messages() %} {% if messages
                    %} {% for i in messages %}
                    <div class="alert alert-success" role="alert">
                      <strong>
                        {{i}}
                      </strong>
                    </div>
                    {% endfor %} {%endif%} {%endwith%}

                    <div class="form-container">
                      <form
                        id="signinForm"
                        class="signin-form"
                        action="/signin_validation"
                        method="POST"
                      >
                        <div class="form-group">
                          <label>Your email</label>
                          <input
                            name="signinEmail"
                            class="form-control"
                            placeholder="example@abc.com"
                            type="email"
                            value="{{ email if email }}"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <a class="float-right" href="#">Forgot?</a>
                          <label>Your password</label>
                          <input
                            name="signinPassword"
                            class="form-control"
                            placeholder="******"
                            type="password"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" /> Save password
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="login-btn btn btn-block">
                            Sign in
                          </button>
                        </div>
                      </form>

                      <form
                        id="signupForm"
                        class="signup-form hide"
                        method="POST"
                        action="/register"
                      >
                        <div class="form-group">
                          <label>Your Name</label>
                          <input
                            name="signupName"
                            class="form-control signup-name"
                            placeholder="John Smith"
                            type="text"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <label>Your email</label>
                          <input
                            name="signupEmail"
                            class="form-control signup-email"
                            placeholder="example@abc.com"
                            type="email"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <label>Your password</label>
                          <input
                            name="signupPassword"
                            id="signup-password"
                            class="form-control signup-password"
                            placeholder="******"
                            type="password"
                            required
                            onkeyup="check();"
                          />
                        </div>
                        <div class="form-group">
                          <label>Confirm password</label>
                          <span class="badge confirm-pass-message"> ... </span>
                          <input
                            id="confirm-password"
                            class="form-control confirm-password"
                            placeholder="******"
                            type="password"
                            onkeyup="check();"
                          />
                        </div>
                        <div class="form-group">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" required /> By creating an
                              account, you agree to the
                              <a href="http://#">Free Membership Agreement</a>
                              and
                              <a href="http://#"> Privacy Policy </a>
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <button
                            type="submit"
                            id="signupSubmit"
                            class="login-btn btn btn-block"
                          >
                            Sign up
                          </button>
                        </div>
                      </form>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--jquery.js-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <!--popper.js-->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <!--bootstrap.js-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <!--javascript-->
    <script src="login.js"></script>
  </body>
</html>
